{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

  <section class="page-title">
    <div class="container">
          <h1>{{ book.name }}</h1>
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p>{% if book.image %}
                  <img src="{{ book.image.url }}" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com">
                  {% else %}
                  <img src="https://w-dog.ru/wallpapers/0/2/432904767798717/privet-tek-texnologii-plata-mozg.jpg"
                       class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com">
                  {% endif %}</p>
           <p>{{ book.short_description|safe }}</p>

            {% if book.book_file %}
               <p>
                  <i class="icon-download"></i>
                  <a href="{{ book.book_file.url }}" download role="button" class="btn btn-outline-primary">
                  Скачать книгу
                 </a>
              </p>
            {% endif %}
        </div>
      </div>
    </div>
  </section>

{% include 'blog/last_projects.html' %}

 {% endblock %}

