{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

  <section class="page-title">
    <div class="container">
          <h1>{{ post.title }}</h1>

        <div class="post-meta">
        <span class="date">{{ post.created_at|date:"j E Y" }} | </span>
        <span class="">Кол-во просмотров: {{ post.views }}</span>
      </div>
    </div>

  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p>{% if project.image %}
                  <img src="{{ project.image.url }}" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com">
                  {% else %}
                  <img src="https://w-dog.ru/wallpapers/0/2/432904767798717/privet-tek-texnologii-plata-mozg.jpg"
                       class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com">
                  {% endif %}</p>
           <p>{{ post.content|safe }}</p>
        </div>
      </div>
    </div>
  </section>

 {% include '_inc/custom_tags.html' %}

 {% endblock %}

