{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

  <section class="page-title">
    <div class="container">
          <h1>{{ project.name }}</h1>
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p>{% if project.image %}
                  <img src="{{ project.image.url }}" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com">
                  {% else %}
                  <img src="https://w-dog.ru/wallpapers/0/2/432904767798717/privet-tek-texnologii-plata-mozg.jpg"
                       class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com">
                  {% endif %}</p>
           <p>{{ project.content|safe }}</p>
          <p>
              <i class="icon-github"></i>
              <a href="{{ project.link_to_git }}" target="_blank" role="button" class="btn btn-outline-success">
              Перейти на GitHub
          </a>
          <p>
            <i class="icon-telegram"></i>
              <a href="https://t.me/developerPy3" role="button" class="btn btn-outline-primary">
              Связь с разработчиком
          </a>
          </p>
            {% if project.file_project %}
               <p>
                  <i class="icon-download"></i>
                  <a href="{{ project.file_project.url }}" download role="button" class="btn btn-outline-primary">
                  Скачать проект
                 </a>
              </p>
            {% endif %}
        </div>
      </div>
    </div>
  </section>
  
{% include 'blog/last_projects.html' %}

 {% endblock %}

