{% load static %}

<footer class="probootstrap-footer probootstrap-bg">
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="probootstrap-footer-widget probootstrap-link-wrap">
        <h4 class="heading">Quick Links</h4>
        <ul class="stack-link">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Сервисы</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="probootstrap-footer-widget probootstrap-link-wrap">
        <h4 class="heading">Подписаться</h4>
        <p>Для уведомлений о новостях Блога</p>
            <form action="#">
              <div class="form-field">
                <input type="text" class="form-control" placeholder="Введите Email...">
                <button class="btn btn-subscribe">Send</button>
              </div>
            </form>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-6">
      <div class="probootstrap-footer-widget">
        <p>&copy; 2017 <a href="https://uicookies.com/">uiCookies:Black</a>. Designed by <a href="https://uicookies.com/">uicookies.com</a> <br> Demo Photos from <a href="https://unsplash.com/">Unsplash</a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="probootstrap-footer-widget right">
        <ul class="probootstrap-social">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram2"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>